input
    {
    Nx = 4
    Ny = 4
    yperiodic = yes
    J1 = 1.0
    J2 = 0.01
    gamma1 = 1.1
    gamma2 = 1.1
    xmag   = 0.00
    ymag   = 1.00
    zmag   = 0.00
    readmps = no
    eneropt = yes
    domeas  = yes // if domeas=no, then following meas* tag will not work
    meas_spincorr = yes
    meas_dimercorr = yes
    meas_chiralcorr = yes

    nsweeps = 4
    sweeps
        {
        maxm  minm  cutoff  niter  noise
        20    20    1E-6    4      1E-7
        40    20    1E-8    3      1E-8
        80    10    1E-10   2      1E-10
        80    10    1E-12   2      0
        }

    quiet = yes

    }
