input
    {
    Nx = 4
    Ny = 4
    yperiodic = yes
    t1 = 12.0
    t2 =-3.6
    idop = 8
    J1 = 1.0
    u1 = 0.0
    Jp = 1.0
    u2 = 0.0
    J2 = 0.2
    gamma1 = 1.0
    gamma2 = 1.0
    readmps = yes
    eneropt = yes
    twist_ybc_b = no
    twist_ybc_f = yes
    ytheta_b = 0.0
    ytheta_f = 0.1
    domeas  = no // if domeas=no, then following meas* tag will not work
    Npart = 0
    ithpart = 0
    meas_spincorr = yes
    meas_dimer = yes
    meas_dxcorr = yes
    meas_dycorr = yes
    meas_dxycorr = yes
    meas_chiralcorr = yes
    meas_pair = yes
    meas_pairbubble = yes
    meas_pairodp = yes
    meas_paircorr = yes
    lfixi0 = yes
    x0 = 3

    nsweeps = 1
    sweeps
        {
        maxm  minm  cutoff  niter  noise
        10    10    1E-6    4      1E-7
        20    20    1E-8    3      1E-8
        20    20    1E-10   2      1E-10
        20    20    1E-12   2      0
        40    20    1E-12   2      0
        80    20    1E-12   2      0
        160   20    1E-12   2      0
        320   20    1E-12   2      0
        }
    quiet = yes
    }
